
body {
    font-family: Arial, sans-serif;
    background-color: white;
    background-size: cover;
}

body #login_form_container {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 100vh; /* Ensures container takes up full viewport height */
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    /* display: center;
    justify-content: center;
    align-items: center; */
}
.login-container h2 {
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgb(114, 15, 15);
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}
.form-group button:hover {
    background-color: maroon;
}

.navbar {
    z-index: 1000;
    background-color: maroon;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #bdb2b2;
    padding-right: 5%; /* Add right padding to create some space on the right side */
    padding-left: 5%; /* Add left padding to create some space on the left side */
}

/* Apply hover effect to nav-link */
.navbar-nav .nav-link:hover {
    color: white;
    background-color: maroon;
}

/* Apply hover effect to navbar-brand */
.navbar-brand:hover {
    color: white;
}

.dropdown-toggle::after {
    display: none !important;
}

.notification {
  position: relative;
  display: inline-block;
}

.notification-menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 0;
  top: 30px;
}

.notification-menu a {
  color: black;
  padding: 8px 0;
  display: block;
  text-decoration: none;
}

.notification-menu a:hover {
  background-color: #ddd;
}

.notification:hover .notification-menu {
  display: block;
}

.notificationBtn {
  background-color: maroon;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
}

.badge {
  background-color: red;
  color: white;
  padding: 4px 8px;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -8px;
}
